<div class="container edycja">
    <div class="row">
        <div class="col-md-6">
            
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2 *ngIf="id==0">Dodawanie nowego Zakładu</h2>
        <p *ngIf="id!=0">Modyfikacja zakładu o id: {{id}}</p>
        
        <div class="form-group">
                <label for="nazwa" class="labelstyl">Wyscig:</label>
                <input formControlName="wyscigID" class="form-control">
        </div>
        <div class="form-group">
                <label for="opis" class="labelstyl">Kon:</label>
                <input formControlName="konWybranyID" class="form-control">
        </div>
        <div class="form-group">
                <label for="opis" class="labelstyl">Kwota zakładu:</label>
                <input formControlName="kwotaZakladu"class="form-control">
        </div>
        <div >   
                <button class="btn btn-danger" style="margin:2%" type="reset">Reset</button>
                <button class="btn btn-info" [disabled]="form.invalid" type="submit">Zatwierdź</button>
        </div>  
        
    </form>    
</div>
</div>
</div>
