<table>
    <tr>
        <th>Data</th>
        <th>Zwycięski Koń</th>
        <th>Kon NR:1</th>
        <th>Kurs na konia NR1</th>
        <th>Kon NR:2</th>
        <th>Kurs na konia NR2</th>
        <th>Kon NR:3</th>
        <th>Kurs na konia NR3</th>
        <th>Kon NR:4</th>
        <th>Kurs na konia NR4</th>
        <th>Kon NR:5</th>
        <th>Kurs na konia NR5</th>
        <th>Czy Zakonczony</th>
    </tr>
    
    <tr *ngFor="let w of wyscigi">
        <app-wyscig [wyscig]="w" [kon]="konie"></app-wyscig>
    </tr>
</table>
