<div>
    <Form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <p *ngIf="id==0">Dodawanie nowego wyscigu</p>
        <p *ngIf="id!=0">Modyfikacja wyscigu o id: {{id}}</p>
        <table>
            <tr>
                <td><label for="nazwa">Data:</label></td>
                <td><input formControlName="data"><br></td>
            </tr>
            <tr>
                <td><label for="opis">Kon Nr1:</label></td>
                <td><input formControlName="Kon1"><br></td>
            </tr>
            <tr>
                <td><label for="cena">Kurs dla Konia NR1:</label></td>
                <td><input formControlName="KonKurs1"><br></td>
            </tr>
            <tr>
                <td><label for="opis">Kon Nr2:</label></td>
                <td><input formControlName="Kon2"><br></td>
            </tr>
            <tr>
                <td><label for="cena">Kurs dla Konia NR2:</label></td>
                <td><input formControlName="KonKurs2"><br></td>
            </tr>
            <tr>
                <td><label for="opis">Kon Nr3:</label></td>
                <td><input formControlName="Kon3"><br></td>
            </tr>
            <tr>
                <td><label for="cena">Kurs dla Konia NR3:</label></td>
                <td><input formControlName="KonKurs3"><br></td>
            </tr>
            <tr>
                <td><label for="opis">Kon Nr4:</label></td>
                <td><input formControlName="Kon4"><br></td>
            </tr>
            <tr>
                <td><label for="cena">Kurs dla Konia NR14</label></td>
                <td><input formControlName="KonKurs4"><br></td>
            </tr>
            <tr>
                <td><label for="opis">Kon Nr5:</label></td>
                <td><input formControlName="Kon5"><br></td>
            </tr>
            <tr>
                <td><label for="cena">Kurs dla Konia NR5:</label></td>
                <td><input formControlName="KonKurs5"><br></td>
            </tr>
            <tr>
                <td><button class="btn btn-primary" type="reset">Reset</button></td>
                <td class="float-sm-right"><button class="btn btn-success" [disabled]="form.invalid" type="submit">Zatwierdź</button></td>
            </tr>
        </table>
    </Form>    
</div>