<div class="row" style="width: 100%;margin: 0px;padding: auto;">
    <div class="col-1 col-md-1">{{wyscig.dateTime}}</div>
    <div class="col-1 col-md-1">{{pobierzNazweKonia(wyscig.wygrany)}}</div>
    <div class="col-1 col-md-1">{{pobierzNazweKonia(wyscig.kon1)}}</div>
    <div class="col-1 col-md-1">{{wyscig.kursKon1}}</div>
    <div class="col-1 col-md-1">{{pobierzNazweKonia(wyscig.kon2)}}</div>
    <div class="col-1 col-md-1">{{wyscig.kursKon2}}</div>
    <div class="col-1 col-md-1">{{pobierzNazweKonia(wyscig.kon3)}}</div>
    <div class="col-1 col-md-1">{{wyscig.kursKon3}}</div>
    <div class="col-1 col-md-1">{{pobierzNazweKonia(wyscig.kon4)}}</div>
    <div class="col-1 col-md-1">{{wyscig.kursKon4}}</div>
    <div class="col-1 col-md-1">{{pobierzNazweKonia(wyscig.kon5)}}</div>
    <div class="col-1 col-md-1">{{wyscig.kursKon5}}</div>
    <div class="col-1 col-md-1">{{wyscig.zakonczony}}</div>
  </div>